
nav{
  background-color: rgb(11, 79, 134);
  display: flex;
  text-align: center;
  /* justify-content: center; */
  padding: 10px;
}

nav li{
  list-style-type: none;
  padding: 10px 30px;
  color: rgb(12, 19, 27);
  font-size: 20px;
}

.logo{
  text-align: left;
  height: 50px;
  padding: 0 20px;
}